<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, placeholder: "John" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, placeholder: "Doe" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "example@email.com" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "******" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "******" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, placeholder: "11 Example St." %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, placeholder: "San Diego" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, placeholder: "CA" %>
  </div>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.number_field :zip_code, placeholder: "*****" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
